<section class="relative w-full px-8 text-gray-700 bg-white body-font">
    <div class="container flex flex-col flex-wrap items-center justify-between py-5 mx-auto md:flex-row max-w-7xl">
        <a href="#_"
            class="relative z-10 flex items-center w-auto text-2xl font-extrabold leading-none text-black select-none">{{title}}</a>

        <nav
            class="top-0 left-0 z-0 flex items-center justify-center w-full h-full py-5 -ml-0 space-x-5 text-base md:-ml-5 md:py-0 md:absolute">
            <a href="{{href}}"
                class="relative font-medium leading-6 text-gray-600 transition duration-150 ease-out hover:text-gray-900">
                <span class="block">Home</span>
            </a>
        </nav>

        <div class="relative z-10 inline-flex items-center space-x-3 md:ml-5 lg:justify-end">
            <a href="#"
                class="inline-flex items-center px-6 py-3 text-gray-500 bg-gray-100 rounded-md hover:bg-gray-200 hover:text-gray-600">
                Sign in
            </a>
            <span class="inline-flex rounded-md shadow-sm">
                <a href="#"
                    class="inline-flex items-center px-6 py-3 text-white bg-{{baseColor}} rounded-md hover:bg-{{secondColor}} focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-{{baseColor}}">
                    Sign up

                </a>
            </span>
        </div>
    </div>
</section>